.container {
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
}

.h1-navbar {
  color: #fff;
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}

.ul-navbar {
  display: flex;
  list-style-type: none;
  color: #fff;
  margin-right: 5rem;
  font-family: "Manrope", san-serif;
}

li {
  margin-right: 3rem;
}

li:hover {
  cursor: pointer;
  color: #69e6a6;
}

.button-navbar {
  color: #0a2640;
  background-color: #fff;
  border: none;
  border-radius: 24px;
  width: 128px;
  height: 40px;
  padding: 8px 40px 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}
