.remark-container {
  margin-top: 8rem;
  padding: 0 15%;
}

.remark-top,
.remark-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.r-right {
  width: 50%;
}

.r-header {
  font-family: "Manrope", san-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 40px;
}

.r-paragraph {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.r-paragraph-2 {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  width: 500px;
  height: 68px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  margin-top: 1.5rem;
}

.r-paragraph-2-leaf {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  width: 500px;
  height: 68px;
  background-color: #0a2640;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
}

.r-p {
  font-family: "Manrope", san-serif;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.r-p-2 {
  font-size: 16px;
  margin-left: 12px;
  font-family: "Manrope", san-serif;
}

.r-button {
  margin-top: 56px;
  color: #fff;
  background-color: #0a2640;
  border: none;
  border-radius: 56px;
  width: 210px;
  height: 60px;
  padding: 16px 56px 16px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  gap: 8px;
}
