.services-container {
  margin-top: 4rem;
  font-family: "Manrope", san-serif;
}

.p-services-top {
  text-align: center;
  color: #777777;
  font-size: 20px;
}

.p-services-bottom {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  margin-top: 1rem;
}

.services-grid {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15rem;
}

.services-grid-title {
  margin-top: 24px;
  font-size: 24px;
}

.services-grid-container {
  width: 300px;
}

.services-grid-paragraph {
  margin-top: 12px;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

.explore-page {
  display: flex;
  font-size: 20px;
  margin-top: 1rem;
}

.explore-p {
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
}

.explore-p:hover {
  border-bottom: solid #000;
}
