.main-section {
  background-color: #0a2640;
}

.circle {
  display: none;
  width: 1293px;
  height: 1293px;
  border-radius: 50%;
  background-color: #1c3d5b;
  position: relative;
  top: -789px;
  left: 777px;
}

.main-container {
  padding: 6rem;
}

.bold-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  padding-right: 15%;
}

.hero-image {
  transition: transform 0.2s ease-in-out;
}

.hero-image:hover {
  transform: scale(1.2);
}

.h1-main {
  color: #fff;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
}

.p-main {
  color: #fff;
  font-family: "Manrope", san-serif;
  font-size: 16px;
  line-height: 28px;
  margin-top: 16px;
}

.main-button {
  margin-top: 40px;
}

.buy-template {
  color: #0a2640;
  background-color: #69e6a6;
  border: none;
  border-radius: 56px;
  width: 247px;
  height: 60px;
  padding: 16px 56px 16px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.explore {
  margin-left: 24px;
  color: #fff;
  background-color: transparent;
  border: solid #fff;
  border-radius: 56px;
  width: 247px;
  height: 60px;
  padding: 16px 56px 16px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.right-down {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

.logo-white {
  margin-top: 3rem;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 0 2rem;
}

.each {
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.each:hover {
  transform: scale(1.2);
}

.h1 {
  margin-left: 15px;
}
